<section class="text-center">

<h1>Welcome to Instablam!</h1>



<div id="pictures">
	<% @pictures.each do |pic| %>
	<div class="picture">
	<a href=" <%= url_for pic %> "><img src=" /img/<%= pic.image %> " title=" <%= pic.image %> "> </a>
		<p><%= pic.caption %></p>
		<li><%= link_to pic.id , pic %></li>
	</div><% end %>
</div>


<a class="btn btn-info " href="/pictures/new" role="button">Add a new picture</a>



</section>