
<section class="text-center">

<h1>Welcome to Instablam!</h1>





<div id="pictures">
	<% @pictures.each do |pic| %>
	<div class="picture">
	<a href=" /picture/<%= pic.id %>/show "><img src=" /img/<%= pic.img %> " title=" <%= pic.img %> "> </a>
		<p><%= pic.caption %></p>
		<p><%= pic.id %></p>
	</div><% end %>
</div>


<a class="btn btn-info " href="/pictures/new" role="button">Add a new picture</a>



</section>


