<section class="text-center center-block">

	<h1>Pictures#show</h1>
	<p>Find me in app/views/pictures/show.html.erb</p>
	<h1>Picture ID: <%= @picture.id %></h1>
	<p>Picture Caption: <%= @picture.caption %></p>
	<p>Picture img:  <%= @picture.img %> </p>

	<div id="pictures">
		<div class="picture">
		<img src=" /img/<%= @picture.img %>" title=" <%= @picture.img %> ">

			

			  <form action="<%= picture_path @pictures %>" method="POST">
			    <input type="submit" value="Delete">
			    <input type="hidden" name="_method" value="DELETE">
			    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  </form>
		</div>
	</div>
	</div>

	
</section>


 <section class="container">

 <table class="table table-hover tb_comment ">
	  <tr>
	    <th>Name</th>
	    <th>Comment</th> 
	  </tr>
	  	<% @picture.comments.reverse.each do |comm| %>
	  <tr>
	   <td> 
	    <h4> <%= comm.user.name %> </h4>
	    <h4>(<%= comm.user.comments.length %> )</h4>
	  </td>
	    	<% if  comm.user.pictures.first %>" >
	    	<img src=" <%= comm.user.pictures.first.img %> >%" alt= "">
	    	<% end %>
	    <td>
			<p> <%= comm.body %> </p>
			<% end %>
		</td> 

	  </tr>
	</table>

      

 </section> <!-- /container -->


 <%= render 'comments/form' , picture: @picture %>







 		