<h1>SHOW</h1>

  <h1>Picture ID: <%= @picture.id %></h1>
<hr>
<div class="picture">
  <img src="<%= @picture.img %>" />
   <p><%= @picture.caption %></p>
  <form action="<%= picture_path @picture %>" method="POST">
    <input type="submit" value="Delete Image">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>

  
 <!-- comment form partial to like tha picrues -->
  <%= render "comments/form" , picture: @picture %>
  
  <!-- likes form partial to like tha picrues -->
 <%= render "likes/form" , picture: @picture %>

 <!-- followers form partial to like tha picrues -->
 <%= render "followers/followers_button" , {user: @picture.user , return_to: picture_path(@picture)} %>

</div>

<hr>

<div class="comment">

<%  @picture.comments.reverse.each do |comm| %>

  <h2>  <%= comm.user.name %>
    <% if comm.user.pictures.first %>
      <img src=" <%= comm.user.pictures.first.img %>" alt="">
    <% end %>

  (<%= comm.user.comments.length %>) </h2>
  <h1>  <%= comm.body %> </h1>


  <% end %>


</div>







